* {
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-primary1 bg-white1;
  }
}

#dark-toggle:checked ~ .dot {
  transform: translateX(100%);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.filter-primary {
  filter: invert(99%) sepia(5%) saturate(357%) hue-rotate(202deg)
    brightness(114%) contrast(87%);
}

.education-primary {
  filter: invert(19%) sepia(79%) saturate(2061%) hue-rotate(241deg)
    brightness(100%) contrast(117%);
}
